<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/gallery.css"/>
    <link
            href="https://fonts.cdnfonts.com/css/story-telling"
            rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/huntrela" rel="stylesheet"/>
    <title>Happy Birthday Babii | Vy.com</title>
</head>
<body>
<div id="title" class="slide header">
    <h1>Explore Treasure For You!</h1>
</div>

<div id="slide1" class="slide">
    <div class="title">
        <h1>When She Was Born</h1>
        <p>
            Millions of years ago, this world was a wonderland with majestic
            scenery views, dominated by diverse ecosystems and gigantic creatures.
            Some were magical; some were unpredictable. During the era when time
            and space were not restricted due to the development of civilized
            society. Beyond those measurements of science, a bright, mystical gift
            had landed, turning the natural deforestation and prolonged drought
            into beauty; the soil started to fertilize, bare trees transformed
            into tropical forests, and fruits and flowers began to bloom.
            Mysteriously, the area where the object chose to descend slowly
            revealed the object's true form, a reason for all of these phenomena.
            Surprisingly, an Egg!
            <br/><br/>

            The most beautiful egg ever showed up in this ancient realm. Perhaps
            this was the most unconventional thing that ever happened. From the
            outside of it, the surroundings noticed the rhythm in each crack of
            the shell, constantly increasing the curiosity. When the moment came,
            the shell broke into thousands of pieces of glass, and something
            seized a chance to escape. February 9th, in the early morning, the
            land unintentionally woke up to welcome the representative of
            Aquarius, a little girl with brown eyes.
        </p>
    </div>
</div>
<div id="slide2" class="slide">
    <div class="title">
        <h1>Naive and Childish</h1>
        <p>
            Coming to this world from the sky, legendary narratives were passed
            down that there would be happiness and motivation wherever she went.
            Her powerful energy always helps charge up the surroundings; all
            kinds of animals, mammals, and plants grow under the influence of the
            little girl. Though possessing such power that could build a world,
            she still had the soul of a baby, liked eating, drinking sugar drinks,
            and still learning about life. Because of the age of learning, her
            inquisitiveness allowed her to pick things up faster than lightning,
            became proficient in all areas from Science, Technology to Humanness,
            Reasoning. Over the years, she became more and more reliable to lead
            this world and ready to conquer the upper levels of growth and
            self-development.
        </p>
    </div>
    <img src="/static/images/Vy-11.jpg" alt=""/>
    <img src="/static/images/Vy-5.jpg" alt=""/>
</div>

<div id="slide3" class="slide">
    <div class="title">
        <h1>Beautiful and Growth</h1>
        <p>
            The freedom of time and space provided Aquarius opportunities to
            acquire knowledge and open up about worlds. Since then, she realized
            that there had been many worlds outside her reach, but her will to
            try out things she had never tried pushed her off the boundary of her
            control. Hence, the goal of reaching "new" became possible.
            Incredibly, the beauty of her soul and appearance are proportional to
            her potential. From a little kid, she gradually became an exquisite
            lady, with a stunning look mixed with cuteness, extraordinarily
            clever, and the original pair of aesthetic brown eyes.
            <br/><br/>

            "Birds of a feather flock together". While exploring worlds, she met
            someone just like her, but there was something unique. That
            "something" seemed to form a perfect contrary. He is a strong
            conqueror, complicated, and competitive. His name is on top of all
            stars, he possesses the spirit of fire, and his symbol is a ram.
            Undoubtedly, he is an Aries. This destiny encounter of two opposite
            personalities formed a new combination, such as one of the color
            theories, "two opposite colors can always go together," or opposite
            charges attract each other as in classical physics - "electrostatic."
            Therefore, their relationship started just like a proton and an
            electron.
        </p>
    </div>
    <img src="/static/images/Vy-4.jpg" alt=""/>
    <img src="/static/images/Vy-19.jpg" alt=""/>
    <img src="/static/images/Vy-3.jpg" alt=""/>
    <img src="/static/images/Vy-1.jpg" alt=""/>
    <img src="/static/images/Vy-12.jpg" alt=""/>
</div>

<div id="slide4" class="slide">
    <h1 id="transition">Their Love Story</h1>
</div>

<div id="slide5" class="slide">
    <div class="title">
        <h1>Looking into the future</h1>
        <p>
            Together, the couple overcame challenges on their own and shared their
            journey. Sometimes, they backfired on each other and failed to
            understand each other because of distinct characteristics. Yet, their
            alignment in opposition or in another way, once one of them breaks the
            balance of the scale, things return to the trajectory. No matter how
            horrible their arguments were, ancient balance rules surprisingly
            applied and helped them solve their problems. Today is Aquarius's
            special day. It marks twenty-two years of her journey on this planet,
            and something is about to happen. Today is also the day to say goodbye
            to Aries, and she is going back to where she was born, that land of
            diversity, the beginning of the journey. As she arrived, all creatures
            and the whole forest prepared to welcome their child. She was happy to
            see all familiar faces and enjoyed the last moment with luxurious food
            and treats. At the end of that wonder, February 9th, she took a short
            walk and bumped into a place where she first touched the soil of this
            world. Dreaming in this nostalgic moment, she fell asleep. Just before
            midnight and just before the new day came, a bright light had woken
            her up. It was full of roses, not just normal roses; they were blue
            roses in the myth surrounding all around her; at the moment
            when she was confused between dream and reality, a figure appeared
            right from the place of the egg; it was Aries. He explained how he
            could not show up on his love's birthday and had used all his magic to
            travel to her and seize the moment. Aries told her to let him come
            next time because they would go into the future together. But how did
            he know? How did he come? <br/><br/>

            "Eventually, he showed up instantly because Aquarius's last wish of
            the day was to have Aries there, holding her in the arms in a forest
            of blue roses"
        </p>
    </div>
</div>

<div id="slide6" class="slide">
    <div class="waviy">
        <span style="--i: 1">E</span>
        <span style="--i: 2">n</span>
        <span style="--i: 3">d</span>
        <span style="--i: 4"></span>
        <span style="--i: 5">o </span>
        <span style="--i: 6">f </span>
        <span style="--i: 7"></span>
        <span style="--i: 9">S</span>
        <span style="--i: 10">t</span>
        <span style="--i: 11">o</span>
        <span style="--i: 12">r</span>
        <span style="--i: 13">y</span>
    </div>
</div>
</body>
</html>
