<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/homepage.css"/>
    <link
            href="https://fonts.cdnfonts.com/css/adlam-display"
            rel="stylesheet"
    />
    <script src="/static/homepage.js"></script>
    <title>Happy Birthday Babii | Vy.com</title>
</head>
<body>
<div>
    <div class="words">
        <span id="birthday-text">Welcome To Vy Vuong Gallery</span>
    </div>
    <div class="box">
        <span style="--i: 1"><img src="static/images/Vy-8.jpg" alt=""/></span>
        <span style="--i: 2"><img src="static/images/Vy-9.jpg" alt=""/></span>
        <span style="--i: 3"><img src="static/images/Vy-12.jpg" alt=""/></span>
        <span style="--i: 4"><img src="static/images/Vy-14.jpg" alt=""/></span>
        <span style="--i: 5"><img src="static/images/Vy-15.jpg" alt=""/></span>
        <span style="--i: 6"><img src="static/images/Vy-16.jpg" alt=""/></span>
        <span style="--i: 7"><img src="static/images/Vy-17.jpg" alt=""/></span>
        <span style="--i: 8"><img src="static/images/Vy-18.jpg" alt=""/></span>
    </div>
</div>
</body>
</html>
