<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/vy.css"/>
    <link href="https://fonts.cdnfonts.com/css/adlam-display" rel="stylesheet"/>
    <script src="/static/vy.js"></script>
    <title>Happy Birthday Babii | Vy.com</title>
</head>
<body class="vy-html">
<h1 id="welcome">welcome to the world of vy 🐼</h1>

<div class="container">
    <a href="{{ url_for('gallery_page') }}">
        <button class="start-button" type="button">Enter World</button>
    </a>
</div>
<div id="panda"></div>
<div id="text-box"></div>
<div id="text-display"></div>

<div id="animate-area"></div>
</body>
</html>
